@media (max-width:1460px) {
  .titlepage h2::before,
  .titlepage h2::after {
       content: "";
       position: absolute;
       height: 5px;
       border-top: 1px solid #13aba6;
       top: 27px;
       width: 150px;
  }

  .titlepage h2::before{
    right: 0px;
  }
  .titlepage h2::after {
    left: 0px;
  }
}

@media(max-width:1200px) AND (min-width:996px) {
  .titlepage h2::before,
  .titlepage h2::after {
       content: "";
       position: absolute;
       height: 5px;
       border-top: 1px solid #13aba6;
       top: 27px;
       width: 80px;
  }

  .titlepage h2::before{
    right: -10px;
  }
  .titlepage h2::after {
    left: -10px;
  }
}

@media (max-width: 995px) {
  .form{
    position: static;
    margin: auto;
    width: 75%;
    display: block;
    margin-top: 30px;
  }

  .form_nombre, .form_ciudad, .form_email, .form_telefono, .form_programa{
    width: 100%;
  }

  .titlepage h2::before,
  .titlepage h2::after {
    display: none;
  }
}

@media (max-width: 995px) AND (min-width: 721px) {

  .form{
    width: 90%;
    margin-top: 35px;
  }

  .titulo h1{
    font-size: 48px;
  }

  .titlepage h2{
    font-size: 45px;
  }

  .titlepage span{
    font-size: 29px;
  }

  .traveling-box p{
    font-size: 22px;
  }

  .form input{
    margin: 18px 0;
    border: 0;
    font-size: 45px;
    size: 100;
  }

  .div-enviar a{
    height: 90px;
    font-size: 38px;
  }

  .check_terminos{
    height: 40px;
    width: 40px;
    padding-top: 5px;
  }

  .col-md-12 label{
    font-size: 38px;
    margin-bottom: 8px;
  }

  .footer .Newsletter {
       width: 100%;
  }

  #contact{
    padding: 0 25px;
  }
}

@media (max-width: 720px) {

  .form{
    position: static;
    margin: auto;
    width: 95%;
    display: block;
    margin-top: 95px;
    background-color: orange;
  }

  .titlepage h2{
    font-size: 36px;
  }

  .titlepage span{
    font-size: 29px;
  }

  .traveling-box p{
    font-size: 22px;
  }

  .form input{
    margin: 12px 0;
    border: 0;
    font-size: 29px;
    size: 100;
  }

  .div-enviar a{
    height: 65px;
    font-size: 24px;
  }

  .check_terminos{
    height: 35px;
    width: 35px;
    padding-top: 5px;
  }

  .col-md-12 label{
    font-size: 26px;
    margin-bottom: 8px;
  }

  .footer .Newsletter {
       width: 100%;
  }
}
