@media (max-width:1460px) {
  .titlepage h2::before,
  .titlepage h2::after {
       content: "";
       position: absolute;
       height: 5px;
       border-top: 1px solid #13aba6;
       top: 27px;
       width: 150px;
  }

  .titlepage h2::before{
    right: 0px;
  }
  .titlepage h2::after {
    left: 0px;
  }
}

@media(max-width:1200px) {
  .titlepage h2::before,
  .titlepage h2::after {
       content: "";
       position: absolute;
       height: 5px;
       border-top: 1px solid #13aba6;
       top: 27px;
       width: 80px;
  }

  .titlepage h2::before{
    right: -10px;
  }
  .titlepage h2::after {
    left: -10px;
  }

  .form{
    width: 32%;
  }

  .div-enviar a{
    height: 45px;
    font-size: 18px;
  }

  .form img{
    width: 7.81em;
    left: 32.5%;
    top: -88px;
  }

  .form input{
    font-size: 1.2em;
    margin: 6px 0;
  }

  .form_nombre, .form_ciudad, .form_email, .form_telefono, .form_programa{
    width: 100%;
  }

  .container_{
    padding: 0px !important;
  }

  .txt_bn{
    position: absolute;
    top: 6.3em;
    left: 32vw;
    font-size: 26px;
  }

}

@media (max-width: 993px) {

  .slide_main img{
    margin-top: 40px;
    width: 100%;
    content:url("../images/main_slide_2_recortada.jpg");
  }

  .slide_main_a img{
    margin-top: 70px;
    content:url("../images/main_slide_a_2.png");
  }

  .nav_options{
    font-size: 19px;
  }

  .form{
    position: static;
    margin: auto;
    width: 716px;
    display: block;
    margin-top: 35px;
    font-size: 16px;
  }

  .form img{
    display: none;
  }

  .titulo h1{
    font-size: 2em;
  }

  .titlepage h2{
    font-size: 1.7em;
  }

  .titlepage span{
    font-size: 24px;
  }

  .traveling-box p{
    font-size: 24px;
  }

  .traveling-box h3 {
       font-size: 27px;
  }

  .form input{
    margin: 10px 0;
    border: 0;
    font-size: 1.5em;
    size: 100;
  }

  .div-enviar a{
    height: 50px;
    max-width: 300px;
    font-size: 1em;
  }

  .check_terminos{
    height: 20px;
    width: 20px;
    padding-top: 5px;
  }

  .col-md-12 label{
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  .footer .Newsletter {
       width: 100%;
  }

  #contact{
    padding: 0 25px;
  }

  .titlepage h2::before,
  .titlepage h2::after {
    display: none;
  }

  .txt_bn{
    position: absolute;
    top: 5.5em;
    left: 41vw;
    font-size: 26px;
  }

  .txt_bn_img_1{
    width: 45.28vw;
    height: 16vw;
  }

  .txt_bn_img_2{
    display: block;
    margin: auto;
    width: 25.884vw;
    height: 18vw;
  }

  .footer{
    margin-top: 30px;
  }

}

@media (max-width: 768px) {

  .form{
    width: 90%;
    margin-top: 35px;
    font-size: 16px;
  }

  .txt_bn{
    position: absolute;
    top: 5em;
    left: 43vw;
    font-size: 26px;
  }

  .slide_main img{
    margin-top: 50px;
  }

  .nav_options{
    font-size: 18px;
  }

  .nav_bar {
    height: 75px;
  }

  .titulo h1{
    font-size: 1.5em;
  }

  .titlepage h2{
    font-size: 1.6em;
  }

  .titlepage span{
    font-size: 24px;
  }

  .traveling-box p{
    font-size: 16px;
  }

  .form input{
    margin: 10px 0;
    border: 0;
    font-size: 1.2em;
    size: 100;
  }

  .div-enviar a{
    height: 50px;
    font-size: 1.1em;
  }

  .check_terminos{
    height: 18px;
    width: 18px;
  }

  .col-md-12 label{
    font-size: 1.3em;
    margin-bottom: 8px;
  }

  .footer .Newsletter {
       width: 100%;
  }

  #contact{
    padding: 0 25px;
  }
}

@media (max-width: 576px) {

  body{
    font-size: 12px;
  }

  .nav_options{
    font-size: 15px;
    margin: 15px;
  }

  .nav_bar {
    height: 70px;
  }

  .txt_bn{
    position: absolute;
    top: 3em;
    left: 35vw;
    font-size: 26px;
  }

  .txt_bn_img_1{
    width: 50.94vw;
    height: 18vw;
  }

  .txt_bn_img_2{
    display: block;
    margin: auto;
    width: 28.76vw;
    height: 20vw;
  }

  .slide_main img{
    margin-top: 65px;
  }

  .form{
    width: 90%;
    margin-top: 35px;
    font-size: 16px;
  }

  .titulo h1{
    font-size: 1.1em;
  }

  .titulo h1::after, .titulo h1::before{
    height: 7px;
    width: 7px;
    border-radius: 2px;
    top: 7px;

  }

  .titulo h1::after{
    right: 0;
  }

  .titulo h1::before{
    left: 0;
  }

  .titlepage h2{
    font-size: 1.2em;
  }

  .traveling-box h3 {
       font-size: 1.2em;
  }

  .titlepage span{
    font-size: 1rem;
  }

  .traveling-box p{
    font-size: 16px;
  }

  .form input{
    margin: 8px 0;
    border: 0;
    font-size: 1em;
    size: 100;
  }

  .div-enviar a{
    height: 40px;
    font-size: 0.8em;
  }

  .check_terminos{
    height: 15px;
    width: 15px;
  }

  .col-md-12 label{
    font-size: 0.8em;
    margin-bottom: 7px;
  }

  .footer .Newsletter {
       width: 100%;
  }

  .footer .Follow h3 {
       font-size: 19px;
  }

  .footer span {
       font-size: 15px;
  }

  .slider {
    /* Tamaño 1 */
    /*width: 500px;
    height: 510px; */
    width: 320px;
    height: 330px;

  }

  .slides > div {
    /* Tamaño 2*/
    /* width: 500px;
    height: 490px; */
    width: 320px;
    height: 310px;
  }

  .carrusel img {
    /* Tamaño 3*/
    /* width: 500px;
    height: 490px; */
    width: 320px;
    height: 310px;
  }

}

@media (max-width:330px) {
  .slider {
    /* Tamaño 1 */
    /*width: 500px;
    height: 510px; */
    width: 310px;
    height: 320px;

  }

  .slides > div {
    /* Tamaño 2*/
    /* width: 500px;
    height: 490px; */
    width: 310px;
    height: 300px;
  }

  .carrusel img {
    /* Tamaño 3*/
    /* width: 500px;
    height: 490px; */
    width: 310px;
    height: 300px;
  }
}
