*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Sweet Talk";
  src: url("./../fonts/Sweet-Talk.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

:root{
  --amarillo:#F2E849;
  --azul:#0A468D;
  --azul_oscuro:#093a75;
  --blanco: #fff;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
     font-family: "Sweet Talk", cursive;
     font-size: 15px;
}

/* NAV*/
.nav_bar {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  background: var(--azul_oscuro);
  height: 60px;
  webkit-box-shadow: 0px 10px 18px -10px rgba(0,0,100,0.48);
  -moz-box-shadow: 0px 10px 18px -10px rgba(0,0,100,0.48);
  box-shadow: 0px 10px 18px -10px rgba(0,0,100,0.48);
}
/* END NAV */

/* SLIDE_MAIN */

.slide_main img{
  width: 100%;
  max-height: 100%;
  webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,100,0.68);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0,0,100,0.68);
  box-shadow: 0px 5px 18px 0px rgba(0,0,100,0.68);
  margin-top: 25px;
}

/* FORM*/


.form{
  display: inline-block;
  position: absolute;
  top: 90px;
  right: 70px;
}

form {
  background-color: rgba(240, 240, 240, 0.75);
  border-radius: 15px;
  padding: 5px;
  border: 2px solid rgba(158, 158, 158, 0.35);
}

.form input{
  margin: 8px 0;
  border-bottom: 1px solid rgba(67, 94, 205, 0.38) !important;
  background: transparent !important;
  border: 0;
  font-size: 22px;
  size: 100;
}

.form_nombre, .form_ciudad, .form_email, .form_telefono, .form_programa{
  width: 350px;
}

input:focus {
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(6, 42, 247, 0.83);
    outline: 0 none;
}

.titulo{
  position: relative;
}

.titulo h1{
  font-size: 30px;
  font-family: Montserrat;
  color: var(--azul_oscuro);
  text-align: center;
  margin-top: 8px;
}

.titulo h1::after, .titulo h1::before{
  background: var(--azul_oscuro);
  border: 2px solid var(--azul);
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 2px;
  position: absolute;
  top: 13px;

}

.titulo h1::after{
  right: 10px;
}

.titulo h1::before{
  left: 10px;
}

.check_terminos{
  height: 17px;
  width: 18px;
  padding-top: 5px;
}

.col-md-12 label{
  font-size: 21px;
  margin-bottom: 8px;
}


.div-enviar a {
  position:relative;
  text-decoration:none;
  text-align:center;
  background-color:var(--azul_oscuro); /* Color fondo botón */
  color:var(--amarillo); /* Color letra */
  display:block;
  width:90%; /* Ancho del botón */
  height: 50px;
  border:3px solid #999999; /* Tamaño del borde */
  border-color:var(--azul); /* Color bordes */
  padding:0.25em;
  margin:0.5em auto;
  font-family: Montserrat;
  padding-top: 10px;
  font-size: 20px;
}

.div-enviar a:hover {
  top:0px; /* Valor distinto de 0, simula movimiento vertical */
  left:0px; /* Valor distinto de 0, simula movimiento horizontal */
  color:#ffffff; /* Color texto */
  border-color:#333333 #444444 #444444 #333333; /* Invierte colores borde para simular pulsación */
}

/* END FORM */



/* TOURS */
.Tours {

     margin-top: 50px;
     background-color: rgba(252, 252, 252, 0.44);

}
.Tours .titlepage {
     text-align: center;
     padding-bottom: 54px;
}

.titlepage h2 {
     padding: 0px 0px 20px 0px;
     font-size: 32px;
     font-weight: bold;
     color: #050303;
     line-height: 50px;
     text-transform: uppercase;
     position: relative;
     display: block;
     font-family: 'Montserrat', sans-serif;
}
.titlepage h2::before {
     right: 100%;
     margin-right: 15px;
}
.titlepage h2::after {
     left: 100%;
     margin-left: 15px;
}
.titlepage h2::before,
.titlepage h2::after {
     content: "";
     position: absolute;
     height: 5px;
     border-top: 1px solid #13aba6;
     top: 27px;
     width: 149px;
}

.titlepage span {
     color: var(--azul_oscuro);
     font-size: 25px;
     line-height: 32px;
     display: inline;
     font-family: 'Exo 2', sans-serif;
     margin-bottom: 0px;

}

.frank_smith{
  font-family: "Sweet Talk", sans-serif !important;
  font-size: 29px !important;
}

.traveling-box {
     padding: 0px 5px 0px 5px;
     text-align: center;
}
.traveling-box h3 {
     font-weight:500;
     padding-top: 20px;
     font-size: 25px;
     line-height: 31px;
     color: #100808;
}
.traveling-box p {
     color: #100808;
     font-size: 17px;
     line-height: 26px;
     font-family: 'Exo 2', sans-serif;
}
.traveling-box .read-more {
     justify-content: center;
     display: flex;
}
.traveling-box .read-more a {
     font-size: 17px;
     padding: 15px 30px;
     background-color:var(--azul);
     color: #fff;
     display: inline-block;
     line-height: 20px;
     border-radius: 30px;
     text-align: center;
     margin-top: 30px;
}
.traveling-box .read-more a:hover {
     background: #15cfe5;
}

.img-responsive {
     max-width: 100%;
}
/* END TOURS */

/* FOOTER */
.footer {
     background-color: var(--azul);
     margin-top: 90px;
}
.footer .Follow {
     margin-bottom: 27px;
     width: 100%;
}
.footer .Follow h3 {
     color: #fff;
     font-size: 25px;
     line-height: 30px;
     font-weight: 600;
     text-transform: uppercase;
     border-width: 1px;
     display: inline-block;
     padding-bottom: 2px;
     padding-bottom: 27px;
}
.footer span {
     font-size: 20px;
     display: block;
     color: #fff;
     font-family: "exo 2", sans-serif;
     font-weight: 100;
}

.footer .Newsletter {
     padding: 13px 26px;
     padding-top: 10px;
     padding-right: 26px;
     padding-bottom: 10px;
     padding-left: 15px;
     border: #fff solid 1px;
     width: 100%;
     margin-bottom: 15px;
}
.footer .Subscribe {
     padding: 10px 30px;
     border: #0e0c0c solid 1px;
     background: #0e0c0c;
     color: #fff;
     float: right;
}
.footer .Subscribe:hover {
     color: #fff;
     background-color: #15cfe5;
}

ul.location_icon {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
ul.location_icon li {
     float: left;
     height: 70px;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 20px;
}
ul.location_icon li:last-child {
     padding-right: 0px;
}
ul.location_icon li a {
     margin-bottom: 23px;
}
ul.location_icon span {
     font-size: 17px;
     font-weight: 400;
}
.copyright {
     padding: 10px 0px 30px 0;
}
.copyright p {
     color: #fff;
     font-size: 16px;
     text-align: center;

     text-align: center;
     margin: 0 auto;
     width: 100%;
     padding-top: 10px;
     border-top: #807d7d solid 1px;
}
.copyright a {
     color: #fff;
}
.copyright a:hover {
     color: #15cfe5;
}

.textarea {
     padding: 6px 0px 0px 19px;
     color: #655f5f !important;
     width: 100%;
     border: #b1b0b0 solid 1px;
     height: 65px;
     margin-bottom: 20px;
     border-radius: 5px;
}

.Newsletter {
  border-radius: 5px;
}


/* END FOOTER */
